.well.form-horizontal
  %h3{style: 'margin: 0 0 20 0'}= t('.log_in_linked_accounts')
  %a.btn-block.btn-social.btn-lg.btn-github{href: 'javascript: void(0);'}
    %span.fa.fa-github
    Register / Sign in with GitHub
